<header class="header">
  <div ng-controller="loginCtrl">
<h1><a href="#/home">10 MUST VISIT PLACES</a></h1>
  <ul class="nav">

  <li ng-hide="username"><a>Account</a>
    <ul>
  <li ng-hide="username"><a href="#/login">Login</a></li>
  <li ng-hide="username"><a href="#/register">Register</a></li>
</ul>
</li>
  <li ng-hide="!username" class="dropdown"><a>{{username}}</a>
    <ul>
  <li ng-click="logout();" ng-hide="!username"><a href="#">Logout</a></li>
</ul>
  </li>
  </ul>
</header>
<li ng-repeat="place in places" class="places">
<a href="#/home/{{places.indexOf(place)}}">
  <img ng-src="images/{{place.img}}.jpg" alt="{{place.img}}">
</a>
<div class="showinfo">
  <p>{{place.name}}</p>

<p style="float:left;width:50%;margin-left:25%;margin-right:25%;">
   <img ng-src="images/dest.png" alt="desticon" style="width:20px;height:20px;">
   {{place.location}}
 </p>
</div>
</li>


</div>
