<header class="header">
  <div ng-controller="loginCtrl">
<h1><a href="#/home">10 MUST VISIT PLACES</a></h1>
  <ul class="nav">

  <li ng-hide="username"><a>Account</a>
    <ul>
  <li ng-hide="username"><a href="#/login">Login</a></li>
  <li ng-hide="username"><a href="#/register">Register</a></li>
</ul>
</li>
  <li ng-hide="!username" class="dropdown"><a>{{username}}</a>
    <ul>
  <li ng-click="logout();" ng-hide="!username"><a href="#">Logout</a></li>
</ul>
  </li>
  </ul>
</header>
 <h2 ng-hide="!username">You are logged in</h2>
<form role="form" name="regForm" novalidate=""  ng-hide="username" class="loginForm">
  <h2>Register Form</h2>
  <div ng-class="{'has-error':regForm.email.$invalid && regForm.email.$touched}">
    <input type="email" name="email" ng-model="user.email" placeholder="Email Address" class="email" style="height:32px;">
  </div>
  <div ng-class="{'has-error':regForm.password.$invalid && regForm.password.$touched}">
    <input type="password" name="password" ng-model="user.password" placeholder="password"  class="password" style="height:32px;">
  </div>
 <p ng-show="errMsg" style="color:#FF4D29;">{{errorMessage}}</p>
 <button type="submit" ng-disabled="regForm.$invalid" ng-click="signUp()" class="btnLogin">Sign Up</button>
 </form>
